* {
    box-sizing: border-box;
    color: inherit;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
}

.menu-list{
    display: flex;
    gap: 35px;
}

.menu-list-link{
    font-size: 24px;
    font-weight: 600;
}

.search{
    background-color: transparent;
    width: 565px;
    height: 60px;
    display: flex;
    box-shadow: 1px 2px 6px #80368C;
    border-radius: 10px;
}

.search-string{
    flex: 1;
    border: none;
    outline: none;
    background-color: #98EBED;
    border-radius: 5px 0 0 5px;
    padding: 10px;
}

.search-string::placeholder{
    color: #80368C;
    font-size: 16px;
    font-style: italic;
}

.search-btn{
    background-color: #80368C;
    border: none;
    outline: none;
    padding: 0 10px 0 10px;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}