* {
    box-sizing: border-box;
    color: inherit;
}

 
body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    gap: 20px;
}

.menu-list{
    display: flex;
    gap: 35px;
    padding: 0;
}

.menu-list-link{
    font-size: 24px;
    font-weight: 600;
}

.search{
    background-color: transparent;
    height: 60px;
    display: flex;
    box-shadow: 0px 8px 12px 6px rgba(186, 106, 106, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    flex-direction: row;
    flex-basis: 565px;
}

.search-string{
    flex: 1;
    border: none;
    outline: none;
    background-color: #98EBED;
    padding: 20px;
    font-size: 16px;
    color: #0a0911;
}

.search-string::placeholder{
    color: #80368C;
    font-style: italic;
}

.search-btn{
    background-color: #80368C;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(102.39deg, #DAC1D3 0%, #EDDDFF 100%);
    padding: 100px 190px;
    height: 100vh;
    width: 100%;
}

.head-content-text{
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    color: #80368C;
    margin-bottom: 15px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
}

.head-content-title{
    font-size: 64px;
    font-weight: 600;
    margin: 0;
}

.head-second-text{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 70px;
    margin-top: 15px;
}

.head-content-link{
    font-size: 24px;
    font-weight: 600;
    color: #EDDDFF;
    padding: 20px 35px;
    background: #80368C;
    border-radius: 10px;
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
    transition: all .25s ease;
}

.head-content-link:hover{
    background: #6d2f76;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-img {
    position: relative;
    isolation: isolate;
}

.slide-img::before,
.slide-img::after{
    content: '';
    position: absolute;
    z-index: -1;
    background-color: #80368C;
    filter: blur(50px);
    border-radius: 50%;
}

.slide-img::before{
    width: 400px;
    height: 400px;
    bottom: 0;
    left: 0;
    transform: translate(-45%, 20%);
}

.slide-img::after{
    width: 200px;
    height: 200px;
    right: 0;
    top: 0;
    transform: translate(40%, -40%);
}

.slide-img img {
    display: block;
    width: 600px;
    height: 670px;
    object-fit: cover;
    position: relative;
    border-radius: 15px;
}

.swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet-active{
    background-color: #80368C;
    width: 200px;
    border-radius: 4px;
}

.swiper-pagination .swiper-pagination-bullet{
    width: 100px;
    border-radius: 4px;
    background: #735D8D;
    opacity: 100;
}

.swiper-pagination .swiper-pagination-bullets{
    border-radius: 4px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal{
    margin: 40px 0;
}


.slider-window-title{
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin-top: 95px;
}

.swiper-slide-line{
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
}

.swiper-slide__title{
    font-size: 18px;
    font-weight: 600;
    color: #80368C;
    margin: 0 auto;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.swiper-slide{
    cursor: pointer;
    background: transparent;
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    width: 430px;
    height: 560px;
    overflow: hidden;
    transition: all .5s ease;
}

.swiper-slide:hover{
    transform: translateY(-1%);
}

.swiper-slide-img{
    flex: 1;
    border: none;
    outline: none;
}

.swiper-slide__img{
    flex: 1;
    border: none;
    outline: none;
    height: 480px;
}

.swiper-popular{
    padding: 0 60px;
}

.swiper-pagination-content.swiper-pagination-clickable,
.swiper-pagination-bullets{
    position: relative;
    margin: 40px 0;
}

.swiper-pagination-content .swiper-pagination-bullet{
    width: 50px;
    border-radius: 4px;
    background-color: #735d8d;
    opacity: 100;
}

.swiper-pagination-content.swiper-pagination-bullets .swiper-pagination-bullet-active{
    background-color: #80368C;
    width: 100px;
    border-radius: 4px;
}


.product-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 10px;
    max-width: 430px;
    gap: 10px;
}

.product-card-name{
    margin: 0 0 5px 0;
    font-size: 16px;
    font-weight: 500;
    color: #80368C;
}

.product-price{
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #735D8D;
}

.product-buy-btn{
    padding: 10px 20px;
    background-color: #80368C;
    color: #EDDDFF;
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-weight: 600;
    transition: all .25s ease;
}

.product-buy-btn:hover{
    background-color: #6d2f76;
}

.new-shoes-item{
    cursor: pointer;
    background: transparent;
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    width: 430px;
    height: 560px;
    overflow: hidden;
    transition: all .5s ease;
}

.new-shoes-item:hover{
    transform: translateY(-2%);
}

.new-shoes-item:active{
    transform: translateY(2%);
}

.new-shoes-assortment{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 65px 20px;
}

.new-shoes-window{
    padding: 30px 60px;
}

.new-shoes-title{
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.more-btn{
    font-size: 24px;
    font-weight: 600;
    color: #EDDDFF;
    background-color: #843690;
    padding: 20px 35px;
    border-radius: 10px;
    transition: all .25s ease;
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3)
}

.more-btn:hover{
    background-color: #6d2f76;
}

.more-link{
    text-align: center;
    width: 300px;
    margin: 0 auto;
    padding: 80px 0 0 0;
}

.pay-delivery{
    padding: 60px;
}

.pay-delivery-block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 150px;
    flex-direction: row;
}

.pay-delivery-box{
    text-align: center;
    height: 295px;
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    transition: all .3s ease
}

.pay-delivery-link{
    flex: 1;
}

.pay-delivery-box:hover{
    transform: translateY(-1%);
    box-shadow: 0px 8px 12px 6px rgba(144, 56, 157, 0.248), 0px 4px 4px rgba(142, 55, 155, 0.368);
}

.pay-delivery-title{
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
}

.pay-delivery-name{
    font-size: 40px;
    font-weight: 500;
    margin: 20px;
}

.pay-delivery-text{
    font-size: 20px;
    font-weight: 500;
}

.pay-delivery-img{
    margin-top: 30px;
}

.footer{
    height: 400px;
    background-color: #735D8D;
    text-align: center;
    padding: 50px;
}

.main{
    min-height: calc(100vh - 400px);
}

.footer-title-link{
    display: flex;
    width: 890px;
    margin: 0 auto;
}

.footer-title{
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    margin: 30px 0;
    width: 100%;
}

.footer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 0 auto;
}

.footer-inst-link{
    font-size: 32px;
    font-weight: 600;
    color: #fff;
}






/* Choose style */


.choose-head{
    background: linear-gradient(102.39deg, #DAC1D3 0%, #EDDDFF 100%);
    display: flex;
    justify-content: center;
}

.choose-title{
    font-size: 64px;
    font-weight: 600;
    padding: 124px;
}

.choose-shoes{
    padding: 60px;
}

.choose-link{
    font-size: 24px;
    font-weight: 600;
    padding: 20px 35px;
    background: #80368C;
    border-radius: 10px;
    color: #EDDDFF;
    transition: all .25s ease;
}

.choose-link:hover{
    background-color: #6d2f76;
}

.choose-btn{
    text-align: center;
    margin: 100px 0 120px 0;;
}

.filter{
    padding: 90px 60px 0;
}

.dropdown-btn{
    position: relative;
    display: block;
    width: 435px;
    height: 60px;
    text-align: left;
    border-radius: 10px;
    background-color: #98EBED;
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
    padding: 0 60px 0px 20px;
    font-weight: 500%;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    border: none;
}

.dropdown-btn::before{
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(https://cdn.hugeicons.com/icons/arrow-down-01-stroke-standard.svg);
    pointer-events: none;
}

.dropdown-list{
    display: none;
    position: absolute;
    left: 0;
    top: 52px;
    margin: 0;
    padding: 0;
    background-color: #98EBED;
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 10px;
    width: 435px;
    z-index: 1;
    margin-top: 15px;
}

.dropdown-list--visible{
    display: block;
}

.dropdown-list-item{
    margin: 0;
    padding: 0;
    border: 1px solid #78cdce;
    padding: 20px;
    border-bottom: 0;
    cursor: pointer;
    transition: all .25s ease;
}

.dropdown-list-item:hover{
    background-color: #80d7d8;
}

.dropdown{
    position: relative;
}

.dropdown-input-hidden{
    display: none;
}

.search-filter{
    background-color: transparent;
    height: 60px;
    width: 435px;
    display: flex;
    box-shadow: 0px 8px 12px 6px rgba(186, 106, 106, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.search-string-filter{
    border: none;
    outline: none;
    background-color: #98EBED;
    padding: 20px;
    font-size: 16px;
    color: #0a0911;
    overflow: hidden;
    flex: 1;
    border-radius: 10px;
}

.search-string-filter::placeholder{
    color: #80368C;
    font-style: italic;
}

.share{
    width: 435px;
    border-right: 1px solid #735D8D;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 50px;
    margin-top: 5px;
}

.label-checkbox{
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;
    gap: 10px;
}

.checkbox-fake{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkbox-fake:checked + .checkbox-real svg{
    display: block;
}

.checkbox-real{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #98EBED;
    margin-right: 25px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.checkbox-real svg{
    transform: translate(6px, 5px);
    width: 30px;
    height: 30px;
    display: none;
}

.droppop-btn{
    width: 309px;
}

.form-group{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(433px, auto));
    gap: 30px 0;
}


.droppop{
    display: flex;
    align-items: center;
    gap: 20px;
}

.filter-btn{
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    display: none;
}

.filter-btn img{
    height: 25px;
}

.filter-btn span{
    font-size: 26px;
    font-weight: 600;
    color: #735D8D;
}

.filter-btn span:hover{
    color: #80368C;
}








/* shoes.html style */


.shoes-page-assortment{
    padding: 60px 60px 150px 60px;
}

.shoes-page-title{
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.product-details{
    padding: 100px 60px 0 60px;;
}

.col{
    display: flex;
}

.small-img-col{
    height: 205px;
}

.small-product-row{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.row-product{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 13px;
}

.product-details-title{
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 15px 0;
}

.price-details{
    font-size: 24px;
    font-weight: 700;
    color: #80368C;
}

.details-text{
    font-size: 20px;
    font-weight: 500;
    margin: 15px 0 0 0;
}

.product-details__text{
    height: 125px;
}

.dropdetails-text{
    margin: 0 0 10px 0;
}

.dropdetails-btn{
    width: 171px;
}

.dropdetails-list{
    width: 171px;
    margin-top: 40px;
}

.product-details-info{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.product-details-link{
    border: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    color: #EDDDFF;
    background-color: #843690;
    padding: 20px 35px;
    border-radius: 10px;
    transition: all .25s ease;
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.product-details-link:hover{
    background-color: #6d2f76;
}

.small-container{
    background: #FFFFFF;
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 0px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    height: 650px;
    width: 1780px;;
}

#ProductImg{
    height: 626px;
}

.small-img{
    cursor: pointer;
    object-fit: cover;
    border-radius: 5px;
}








/* cart style */

.cart-container{
    padding: 60px;
}

.cart-box{
    display: flex;
    justify-content: center;   
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 5px 30px 20px 30px;
    gap: 30px;
}

.cart-details{
    display: grid;
    grid-template-columns: 29% 18% 16.5% 16% 13%;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    transition: all .6s ease;
}
 
.cart-details:hover{
    background: #d4a1ee4b;
}

.cart-details-block{
    display: grid;
    gap: 30px;
    margin-top: 20px;
    width: 100%;
    max-width: 1129px;
}

.cart-images{
    display: flex;
    align-items: center;
}

.cart-text{
    font-size: 14px;
    font-weight: 500;
    color: #80368C;
}

.remove{
    background: transparent;
    border: none;
    position: absolute;
    transform: translate(103px, -49px);
}

.cart-details-text{
    font-size: 20px;
    font-weight: 600;
    color: #80368C;
    margin: 0;
}

.minus{
    width: 25px;
    height: 25px;
    background-color: #80d7d8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-number{
    display: flex;
}
.number{
    width: 50px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #98EBED;
}

.sum,
.cart-price,
.price{
    font-size: 18px;
    font-weight: 700;
    color: #80368C;
}

.dropcart-btn{
    width: 209px;;
}

.dropcart-list{
    width: 209px;
}

.total{
    width: 100%;
    max-width: 581px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 20px;
    background: #EDDDFF;
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin-top: 15px;
    height: 168px;
}

.total-amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-amount h2{
    font-size: 20px;
    font-weight: 600;
    color: #80368C;
    margin: 0;
}

.total-amount span{
    font-size: 18px;
    font-weight: 700;
    color: #735d8d;
}

.total-btn a{ 
    border-radius: 10px;
    display: flex;
    justify-content: center;
    color: #fff;
    background: #80368C;
    padding: 20px 35px;
    width: 100%;
    max-width: 324px;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 600;
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
    transition: all .3s ease;
}

.total-btn a:hover{
    background: #6d2f76;
}

/* adaptive */

.burger-menu{
    height: 30px;
    width: 30px;
    padding: 0;
    border: none;
    background-color: transparent;
    display: none;
}

.search-icon{
    height: 30px;
    width: 30px;
    padding: 0;
    border: none;
    background-color: transparent;
    display: none;
}





@media (max-width: 1025px) {
    .search{
        display: none;
    }

    .search-icon{
        display: block;
        margin-top: 5px;
    }

    .menu-list-link{
        font-size: 22px;
    }

    .header-inner{
        padding: 25px 40px;
    }

    .slide-img img{
        width: 445px;
        height: 500px;
    }

    .slide-img::before{
        width: 300px;
        height: 300px;
    }

    .head-content{
        padding: 100px 65px;
        height: 95vh;
    }

    .head-content-title{
        font-size: 60px;
    }

    .head-second-text{
        font-size: 18px;
    }

    .head-content-text{
        font-size: 22px;
    }

    .pay-delivery-text{
        font-size: 16px;
    }

    .footer-title-link{
        display: block;
    }

    .swiper-popular{
        padding: 30px 40px;
    }

    .new-shoes-window{
        padding: 30px 40px;
    }

    .filter{
        padding: 90px 55px 0;
    }

    .small-container{
        width: auto;
        height: auto;
    }

    .row-product{
        display: block;
    }

    .product-details-info{
        margin-top: 50px;
    }
}






@media (max-width: 768px) {
    .burger-menu{
        display: block;
    }

    .menu-list{
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        background-color: black;
        opacity: 0.9;
        flex-direction: column;
        height: 100vh;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 5;
        align-items: center;
        padding: 100px;
        margin: 0;
        transform: translateY(-100%);
        transition: all .75s ease;
    }

    .menu-list--active{
        transform: translateY(0);
    }

    .burger-menu{
        position: relative;
        z-index: 10;
    }

    .menu-list-link{
        color: #FFFFFF;
    }

    .search-icon{
        display: block;
        margin-top: 5px;
    }

    .logo{
        height: 95px;
    }

    .header-inner{     
        display: grid;
        grid-template-columns: 78% 5% 5%;
        padding: 25px 35px;
    }

    .search{
        display: none;
    }

    .head-content{
        padding: 100px 44px;
        height: 80vh;
    }

    .slide-img img{
        width: 320px;
        height: 375px;
    }

    .slide-img::before{
        width: 250px;
        height: 250px;
    }

    .head-content-title{
        font-size: 60px;
        line-height: 1.1;
    }

    .head-content-text{
        font-size: 20px;
    }

    .head-content-link{
        font-size: 18px;
    }

    .head-second-text{
        font-size: 18px;
    }

    .swiper-slide-img{
        width: 309px;
        height: 359px;
    }
    
    .new-shoes-assortment {
        grid-template-columns: repeat(auto-fit, minmax(310px, auto));
        gap: 50px 0;
    }

    .swiper__img-size{
        width: 310px;
        height: 345px;
    }

    .swiper-slide__img{
        width: 310px;
        height: 345px;
    }

    .new-shoes-item{
        height: 100%;
        width: 310px;
    }

    .product-card-name{
        width: 140px;
    }

    .new-shoes-window {
        padding: 30px 40px;
    }

    .new-shoes-assortment{
        grid-template-columns: repeat(auto-fit, minmax(310px, auto));
        gap: 50px 0;
    }

    .last-three-shoes{
        flex-wrap: wrap;
    }

    .pay-delivery-box{
        width: 310px;
    }

    .pay-delivery-text{
        font-size: 14px;
    }

    .footer-title-link{
        display: contents;
    }

    .filter-btn{
        display: block;
        padding: 0;
    }

    .form-group{
        display: none;
    }
    
    .form-group--active{
        display: grid;
        gap: 20px 0;
        margin-top: 20px;
    }

    .choose-shoes{
        padding: 30px;
    }

    .filter{
        padding: 90px 40px 0 40px;
    }

    .choose-title{
        text-align: center;
    }
}









@media (max-width: 425px) {

    .header-inner{
        grid-template-columns: 78% 5% 5%;
        padding: 25px 25px;
    }

    .logo{
        width: 100px;
    }

    .head-content{
        padding: 100px 20px;
        height: 65vh;
    }

    .head-content-title{
        font-size: 35px;
    }

    .head-content-text{
        font-size: 12px;
    }

    .head-second-text{
        font-size: 12px;
        margin-bottom: 50px;
    }

    .slide-img img {
        width: 164px;
        height: 191px;
    }

    .slide-img::before {
        width: 150px;
        height: 150px;
    }

    .slide-img::after {
        width: 100px;
        height: 100px;
    }

    .head-content-link {
        font-size: 10px;
    }

    .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet-active {
        background-color: #80368C;
        width: 100px;
        border-radius: 4px;
    }

    .swiper-pagination .swiper-pagination-bullet {
        width: 50px;
        border-radius: 4px;
        background: #735D8D;
        opacity: 100;
    }

    .menu-list--active{
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 45px;
        padding: 80px;
    }

    .swiper-pagination-content.swiper-pagination-bullets .swiper-pagination-bullet-active{
        width: 20px;
    }

    .swiper-pagination-content .swiper-pagination-bullet {
        width: 10px;
    }

    .new-shoes-assortment .product-card{
        width: 160px;
    }

    .new-shoes-item{
        width: 160px;
    }

    .new-shoes-assortment{
        gap: 35px 10px;
    }

    .product-card button,
    .product-box button{
        font-size: 12px;
    }

    .new-shoes-assortment h4 {
        font-size: 13px;
    }

    .product-card__info span,
    .product-card-info span{
        font-size: 16px;
    }

    .new-shoes-window{
        padding: 15px;
    }

    .slider-window-title{
        font-size: 40px;
        margin-top: 70px;
    }

    .new-shoes-title,
    .pay-delivery-title{
        font-size: 40px;
    }

    .more-btn{
        font-size: 18px;
    }

    .pay-delivery-box{
        width: 150px;
        height: 250px;
    }

    .pay-delivery-img{
        width: 80px;
    }

    .pay-delivery-name{
        font-size: 24px;
    }

    .pay-delivery-text{
        font-size: 11px;
    }

    .pay-delivery{
        padding: 25px;
    }

    .footer-title{
        font-size: 20px;
    }

    .footer-img{
        width: 120px;
    }

    .dropdown-btn,
    .search-filter,
    .share,
    .dropdown-list{
        width: 320px;
    }

    .droppop-btn{
        width: 220px;
    }

    .swiper-slide__img{
        width: 100%;
        height: 175px;
    }

    .droppop-text{
        font-size: 12px;
    }

    .choose-link{
        font-size: 16px;
    }

    .choose-title{
        font-size: 54px;
    }

    .choose-shoes{
        padding: 10px;
        margin-top: 20px;
    }

    .choose-shoes .new-shoes-assortment{
        gap: 35px 10px;
    }
}

.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    /* box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3); */
    border-radius: 15px;
    overflow: hidden;
    transition: all .5s ease;
}

.new-shoes-assortment .product-card{
    position: relative;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    overflow: hidden;
    transition: all .5s ease;
}

.product-card:hover {
    transform: translateY(-2%);
}

.product-card__link {
    position: absolute;
    inset: 0;
    z-index: 1;
    font-size: 0;
}

.product-card__img {
    width: 100%;
}

.product-card__img img {
    width: 100%;
    aspect-ratio: 1 / 1.1;
    flex-grow: 1;
    object-fit: cover;
}

.product-card__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 10px;
    gap: 10px;
}

.product-card__box button {
    position: relative;
    z-index: 1;
    flex-shrink: 0;
}

.product-card__info h4 {
    margin-block: 0 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    color: #80368C;
}

.product-card__info span {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    color: #735D8D;
}

.cart-btn {
    padding: 10px 20px;
    background: #80368C;
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.1875;
    color: #EDDDFF;
    transition: all 0.2s ease;
    cursor: pointer;
}

.cart-btn:hover,
.cart-btn:focus-visible {
    background-color: #735D8D;
    box-shadow: none;
}

.swiper.swiper-four-columns {
    padding-inline: 5px;
    /* відступи по бокам, щоб тінь не обрізалась. в даному випадку не ідеально. але непогано */
    padding-top: 10px;
    /* те саме щоб тінь зверху не обрізалась */
}

@media screen and (min-width: 1200px) {
    .swiper.swiper-four-columns {
        padding-inline: 15px;
    }
}

@media screen and (min-width: 1025px) {
    .swiper.swiper-four-columns {
        padding-inline: 10px;
    }
}

.category-card {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    /* box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3); */
    border-radius: 15px;
    overflow: hidden;
    transition: all .5s ease;
}

.category-card:hover,
.category-card:focus-visible {
    transform: translateY(-1%);
}

.category-card__img {
    width: 100%;
    aspect-ratio: 1 / 1.15;
    flex-grow: 1;
    object-fit: cover;
}

.category-card__title {
    padding: 20px 10px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #80368C;
    margin: 0;
}

.new-shoes-assortment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 65px 20px;
}
