* {
    box-sizing: border-box;
    color: inherit;
}

 
body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    gap: 20px;
}

.menu-list{
    display: flex;
    gap: 35px;
    padding: 0;
}

.menu-list-link{
    font-size: 24px;
    font-weight: 600;
}

.search{
    background-color: transparent;
    height: 60px;
    display: flex;
    box-shadow: 0px 8px 12px 6px rgba(186, 106, 106, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    min-width: 565px;
}

.search-string{
    flex: 1;
    border: none;
    outline: none;
    background-color: #98EBED;
    padding: 20px;
    font-size: 16px;
    color: #0a0911;
}

.search-string::placeholder{
    color: #80368C;
    font-style: italic;
}

.search-btn{
    background-color: #80368C;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 190px;
    background: linear-gradient(102.39deg, #DAC1D3 0%, #EDDDFF 100%);
    height: 100%;
    height: 100vh;
}

.head-content-text{
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    color: #80368C;
    margin-bottom: 15px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
}

.head-content-title{
    font-size: 64px;
    font-weight: 600;
    margin: 0;
}

.head-second-text{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 70px;
    margin-top: 15px;
}

.head-content-link{
    font-size: 24px;
    font-weight: 600;
    color: #EDDDFF;
    padding: 20px 35px;
    background: #80368C;
    border-radius: 10px;
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
    transition: all .25s ease;
}

.head-content-link:hover{
    background: #6d2f76;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-img {
    position: relative;
    isolation: isolate;
}

.slide-img::before,
.slide-img::after{
    content: '';
    position: absolute;
    z-index: -1;
    background-color: #80368C;
    filter: blur(50px);
    border-radius: 50%;
}

.slide-img::before{
    width: 400px;
    height: 400px;
    bottom: 0;
    left: 0;
    transform: translate(-45%, 20%);
}

.slide-img::after{
    width: 200px;
    height: 200px;
    right: 0;
    top: 0;
    transform: translate(40%, -40%);
}

.slide-img img {
    display: block;
    width: 600px;
    height: 670px;
    object-fit: cover;
    position: relative;
    border-radius: 15px;
}

.swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet-active{
    background-color: #80368C;
    width: 200px;
    border-radius: 4px;
}

.swiper-pagination .swiper-pagination-bullet{
    width: 100px;
    border-radius: 4px;
    background: #735D8D;
    opacity: 100;
}

.swiper-pagination .swiper-pagination-bullets{
    border-radius: 4px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal{
    margin: 40px 0;
}


.slider-window-title{
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin-top: 95px;
}

.swiper-slide-line{
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
}

.swiper-slide__title{
    font-size: 18px;
    font-weight: 600;
    color: #80368C;
    margin: 0 auto;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.swiper-slide{
    cursor: pointer;
    background: transparent;
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    width: 430px;
    height: 560px;
    overflow: hidden;
    transition: all .5s ease;
}

.swiper-slide:hover{
    transform: translateY(-2%);
}

.swiper-slide:active{
    transform: translateY(2%);
}

.swiper-slide-img{
    flex: 1;
    border: none;
    outline: none;
}

.swiper-slide__img{
    flex: 1;
    border: none;
    outline: none;
    height: 480px;
}

.swiper-popular{
    padding: 0 60px;
}

.swiper-pagination-content.swiper-pagination-clickable,
.swiper-pagination-bullets{
    position: relative;
    margin: 40px 0;
}

.swiper-pagination-content .swiper-pagination-bullet{
    width: 50px;
    border-radius: 4px;
    background-color: #735d8d;
    opacity: 100;
}

.swiper-pagination-content.swiper-pagination-bullets .swiper-pagination-bullet-active{
    background-color: #80368C;
    width: 100px;
    border-radius: 4px;
}


.product-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    max-width: 430px;
}

.product-card-name{
    margin: 0 0 5px 0;
    font-size: 16px;
    font-weight: 500;
    color: #80368C;
}

.product-price{
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #735D8D;
}

.product-buy-btn{
    padding: 10px 20px;
    background-color: #80368C;
    color: #EDDDFF;
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-weight: 600;
    transition: all .25s ease;
}

.product-buy-btn:hover{
    background-color: #6d2f76;
}

.new-shoes-item{
    cursor: pointer;
    background: transparent;
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    width: 430px;
    height: 560px;
    overflow: hidden;
    transition: all .5s ease;
}

.new-shoes-item:hover{
    transform: translateY(-2%);
}

.new-shoes-item:active{
    transform: translateY(2%);
}

.new-shoes-assortment{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(433px, auto));
    gap: 65px 0;
    margin-top: 60px;
}

.last-three-shoes{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 65px 0 90px 0;
}

.new-shoes-window{
    padding: 30px 60px;
}

.new-shoes-title{
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.more-btn{
    font-size: 24px;
    font-weight: 600;
    color: #EDDDFF;
    background-color: #843690;
    padding: 20px 35px;
    border-radius: 10px;
    transition: all .25s ease;
}

.more-btn:hover{
    background-color: #6d2f76;
}

.more-link{
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

.pay-delivery{
    padding: 60px;
}

.pay-delivery-block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 150px;
}

.pay-delivery-box{
    text-align: center;
    width: 890px;
    height: 295px;
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    transition: all .3s ease
}

.pay-delivery-box:hover{
    transform: translateY(-1%);
    box-shadow: 0px 8px 12px 6px rgba(144, 56, 157, 0.248), 0px 4px 4px rgba(142, 55, 155, 0.368);
}

.pay-delivery-title{
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
}

.pay-delivery-name{
    font-size: 40px;
    font-weight: 500;
    margin: 20px;
}

.pay-delivery-text{
    font-size: 20px;
    font-weight: 500;
}

.pay-delivery-img{
    margin-top: 30px;
}

.footer{
    height: 400px;
    background-color: #735D8D;
    text-align: center;
    padding: 50px;
}

.main{
    min-height: calc(100vh - 400px);
}

.footer-title-link{
    display: flex;
    width: 890px;
    margin: 0 auto;
}

.footer-title{
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    margin: 30px 0;
    width: 100%;
}

.footer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 0 auto;
}

.footer-inst-link{
    font-size: 32px;
    font-weight: 600;
    color: #fff;
}


/* Choose style */


.choose-head{
    background: linear-gradient(102.39deg, #DAC1D3 0%, #EDDDFF 100%);
    display: flex;
    justify-content: center;
}

.choose-title{
    font-size: 64px;
    font-weight: 600;
    padding: 124px;
}

.choose-shoes{
    padding: 60px;
}

.choose-link{
    font-size: 24px;
    font-weight: 600;
    padding: 20px 35px;
    background: #80368C;
    border-radius: 10px;
    color: #EDDDFF;
    transition: all .25s ease;
}

.choose-link:hover{
    background-color: #6d2f76;
}

.choose-btn{
    text-align: center;
    margin: 100px 0 120px 0;;
}

.filter{
    padding: 90px 60px 0 60px;
}

.dropdown-btn{
    position: relative;
    display: block;
    width: 435px;
    height: 60px;
    text-align: left;
    border-radius: 10px;
    background-color: #98EBED;
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
    padding: 0 60px 0px 20px;
    font-weight: 500%;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    border: none;
}

.dropdown-btn::before{
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(https://cdn.hugeicons.com/icons/arrow-down-01-stroke-standard.svg);
    pointer-events: none;
}

.dropdown-list{
    display: none;
    position: absolute;
    left: 0;
    top: 52px;
    margin: 0;
    padding: 0;
    background-color: #98EBED;
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 10px;
    width: 435px;
    z-index: 1;
    margin-top: 15px;
}

.dropdown-list--visible{
    display: block;
}

.dropdown-list-item{
    margin: 0;
    padding: 0;
    border: 1px solid #78cdce;
    padding: 20px;
    border-bottom: 0;
    cursor: pointer;
    transition: all .25s ease;
}

.dropdown-list-item:hover{
    background-color: #80d7d8;
}

.dropdown{
    position: relative;
}

.dropdown-input-hidden{
    display: none;
}

.search-filter{
    background-color: transparent;
    height: 60px;
    width: 435px;
    display: flex;
    box-shadow: 0px 8px 12px 6px rgba(186, 106, 106, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.search-string-filter{
    border: none;
    outline: none;
    background-color: #98EBED;
    padding: 20px;
    font-size: 16px;
    color: #0a0911;
    overflow: hidden;
    flex: 1;
    border-radius: 10px;
}

.search-string-filter::placeholder{
    color: #80368C;
    font-style: italic;
}

.share{
    width: 435px;
    border-right: 1px solid #735D8D;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 50px;
    margin-top: 5px;
}

.label-checkbox{
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;
    gap: 10px;
}

.checkbox-fake{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkbox-fake:checked + .checkbox-real svg{
    display: block;
}

.checkbox-real{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #98EBED;
    margin-right: 25px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.checkbox-real svg{
    transform: translate(6px, 5px);
    width: 30px;
    height: 30px;
    display: none;
}

.droppop-btn{
    width: 309px;
}

.form-group{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(433px, auto));
    gap: 30px 0;
}

.droppop{
    display: flex;
    align-items: center;
    gap: 20px;
}
